# - - [ .gitignore ] - -
#
# Ne pas synchroniser,


#-> les fichiers ci-dessous :

build.xml
manifest.mf


#-> les fichiers type :

*.DS_Store


#-> les fichiers ci-dessous :

#/nbproject/ (Ne pas ignorer - Indispensable à l'intégration du projet dans NetBeans)
/build/
/dist/